body,html{
  margin: 0;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button, input, optgroup, option, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
ul, ol ,li{
  display:unset;
  unicode-bidi: unset;
}
button{
  border: 0px;
  background-color: transparent;
}
img{
  width: 100%;
  height: 100%;
}
button:hover, a:hover, select:hover, li:hover {
  cursor: pointer;
}
div,button,a,header,footer{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #666;
}
a:hover{
  color: #111;
  
}
.w1200{
  width: 1200px;
}